<html>
<div id="allPage">
    <div id="back"></div>
    <div id="header">
        <link href="about.component.scss" rel="stylesheet" type="text/scss">
        <link href="assignment2.js" rel="stylesheet" type="js">
      <img alt="Header" src="cz.png" height="100">
    </div>
    <table>
      <tr>
        <td><a href="home.component.html">Home</a></td>
        <td><a href="about.component.html">About me</a></td>
        <td><a href="project.component.html">Projects</a></td>
        <td><a href="services.component.html">Services</a></td>
        <td><a href="contact.component.html">Contact Me</a></td>
        <td><a href="login.component.html">Login</a></td>
        </tr>
    </table>
    <div style="padding-top: 20px;">
      <h2>About me</h2>
      <table>
        <tr>
          <td>Name: </td>
          <td>Colin Zhou</td>
        </tr>
        <tr>
          <td valign="top">About me: </td>
          <td>
            My name is Colin Zhou. I'm a software engineering technician student from Centennial College. I was born and raised in Chengdu, China. <br><br>
            I'm a hardworking, enthusiastic, and passionate person. I'm always willing to learn new things, and I'm a fast learner. I'm also a team player, and I'm always willing to help others. <br><br>
          </td>
        </tr>
        <tr>
          <td>Resume: </td>
          <td><a href="Colin Zhou Resume.pdf">Resume</a></td>
        </tr>
      </table>
      <img src="about.png" height="500px" alt="About Image">
      <img src="about2.jpg" height="500px" alt="About Image 5">
    </div>
    <p>&copy;Assignment 1 WEB APPLICATION DEVELOPMENT</p>
  </div>
</html>