<!DOCTYPE html>
<html>
<head>
    <title>Login</title>

    <link href="Assignment1.css" rel="stylesheet" type="text/css">
</head>
<body>
<table>
    <tr>
        <td><img src="cz.png" height="250x"/></td>
        <td>
            <a href="home.component.html">Home</a>
        </td>
        <td>
            <a href="about.component.html">About me</a>
        </td>
        <td>
            <a href="project.component.html">Projects</a>
        </td>
        <td>
            <a href="services.component.html">Services</a>
        </td>
        <td>
            <a href="contact.component.html">Contact Me</a>
        </td>
        <td>
            <a href="login.component.html">Login</a>
        </td>
    </tr>
</table>
<h1>Business Contacts List View</h1>
<table id="business-contact-table">
    <thead>
    <tr>
        <th>Contact Name</th>
        <th>Contact Number</th>
        <th>Email Address</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody id="business_contacts_list">
    </tbody>
</table>

<script src="business_contacts.component.js"></script>
</body>
</html>
