<!DOCTYPE html>
<html lang="en">
<link href="Assignment1.css" rel="stylesheet" type="text/css">
<head></head>
<body>
<table>
    <tr><img src="cz.png" height="250x"/></tr>
    <tr>
        <td><a href="home.component.html">Home</a></td>
        <td><a href="about.component.html">About me</a></td>
        <td><a href="project.component.html">Projects</a></td>
        <td><a href="services.component.html">Services</a></td>
        <td><a href="contact.component.html">Contact Me</a></td>
        <td><a href="login.component.html">Login</a></td>
    </tr>
</table>
<div style="padding-top: 20px;">
    <h2>Welcome everyone to my Personal Homepage.</h2>
    <br>

    <h2>The Goal</h2> <br>
    As a software engineering student who is passionate about design and programming, I'm looking for a job with a firm
    that will utilise my abilities. I'm willing to work from wherever.
    <br><br>
    I am really appreciative that you visited my website to learn more about myself.
    You can <a href="about.component.html">click here</a> to know more about me.
    <br><br><br>
</div>
</body>
<p>&copy;Assignment 1 WEB APPLICATION DEVELOPMENT</p>
</html>
  

