<html>
<head>
  <link href="projects.component.scss" rel="stylesheet" type="text/scss">
</head>
<body>
  <table>
    <tr>
      <td><img src="cz.png" height="100px"/></td>
    </tr>
    <tr>
      <td><a href="home.component.html">Home</a></td>
      <td><a href="about.component.html">About me</a></td>
      <td><a href="project.component.html">Projects</a></td>
      <td><a href="services.component.html">Services</a></td>
      <td><a href="contact.component.html">Contact Me</a></td>
      <td><a href="login.component.html">Login</a></td>
    </tr>
  </table>

  <div style="padding-top: 20px;">
    <h2>Projects</h2>
    <table>
      <tr>
        <td><img src="doctor-appointment-booking-system-smpg.jpg" height="100px"></td>
        <td>
          <strong>Doctor Appointment Booking System</strong><br>
          It's a convenient online platform that allows patients to schedule appointments with healthcare providers, streamlining the process and enhancing accessibility to medical services.
          <br>
        </td>
      </tr>
      <tr>
        <td><img src="space-shooter-python-smpg.jpg" height="100px"></td>
        <td>
          <strong>Space Shooter Python</strong><br>
          It's an exciting and immersive game built in Python where players navigate a spaceship through space, engaging in thrilling battles against enemy spacecraft while dodging obstacles and collecting power-ups.
          <br>
        </td>
      </tr>
      <tr>
        <td><img src="android-spy-camera-smpg.jpg" height="100px"></td>
        <td>
          <strong>Android Spy Camera</strong><br>
          It's a covert surveillance application that enables discreet capturing of photos and videos using an Android device, offering covert monitoring capabilities.
          <br>
        </td>
      </tr>
    </table>
  </div>

  <p>&copy; Assignment 1 WEB APPLICATION DEVELOPMENT</p>
</body>
</html>
