<html>
<head></head>
<link href="Assignment1.css" rel="stylesheet" type="text/css">
<body>
<table>
<tr><img src="cz.png" height = "100px"/></tr>
<tr>
    <td><a href="home.component.html">Home</a></td>
    <td><a href="about.component.html">About me</a></td>
    <td><a href="project.component.html">Projects</a></td>
    <td><a href="services.component.html">Services</a></td>
    <td><a href="contact.component.html">Contact Me</a></td>
    <td><a href="login.component.html">Login</a></td>
    </tr>
</table>
<div style="padding-top: 20px;">
<h2>Services</h2>
<div class="service">
    <img src="services1.png" alt="Web Development">
    <div>
      <h2>Web Development</h2>
      <p>We create dynamic and interactive websites using the latest web technologies, delivering visually appealing designs and seamless user experiences to engage your target audience.</p>
    </div>
  </div>

  <div class="service">
    <img src="services2.jpeg" alt="Mobile App Development">
    <div>
      <h2>Mobile App Development</h2>
      <p>Our mobile app development services cover the entire app development lifecycle, from concept and design to development and launch, across various platforms such as iOS and Android, ensuring your app reaches a wide audience.</p>
    </div>
  </div>

  <div class="service">
    <img src="services3.png" alt="Software Integration">
    <div>
      <h2>Software Integration</h2>
      <p>We help streamline your business operations by integrating different software systems and applications, ensuring seamless data flow and enhanced collaboration across your organization.</p>
    </div>
</div>
<p>&copy;Assignment 1 WEB APPLICATION DEVELOPMENT</p>

```